/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.87);
}

@media screen and (min-width: 768px) {
  body {
    background-size: contain;
  }
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, 1);
}

/* Video */
video {
  max-width: 100%;
  margin-top: 10px;
}
